<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>List Maker</title>
		<meta name="author" content="Tom Tillistrand">
		<meta name="description" content="A simple list maker.">
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Cinzel+Decorative" rel="stylesheet">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
		<link rel="stylesheet" href="/css/stylesheet.css" type="text/css">
	</head>
	<body>